<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real-time Sensor Data</title>
  </head>
  <body>
    <h1>Data Sensor Real-time</h1>
    <h3>proses development</h3>
    <a href="./features/lampu/lampu.html" class="text-blue-500 px-2 rounded-sm hover:cursor-pointer">harap pindah ke fitur lampu</a>
    <!-- <p id="sensor-value">Menunggu data...</p>
    <button onclick="Arduino('1')">nyala</button>
    <button onclick="Arduino('0')">mati</button>
    <script>
      function Arduino(data) {
        const api = fetch("http://localhost:4000/api/sensor", { method: "POST", body: JSON.stringify({ data }), headers: { "Content-Type": "application/json" } });
        console.log(api);
      }
    </script> -->
  </body>
</html>
